doctype 5
html
  head
    title JUXe
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
  body
    block content