doctype 5
html
  head
    title JUXe
    meta(name="viewport", content="initial-scale = 1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#34495e")
    meta(name="format-detection", content="telephone=no")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
  body
    block content